<!DOCTYPE html>
<html lang="en">
 <head>
  <link href="bootstrap/3.0.0/css/bootstrap.min.css"
  rel="stylesheet">
 </head>
 <body>
  <div class="container">
   <div class="header">
    <h3 class="text-muted">请上传您的Excel文件:</h3>
   </div>
   <hr/>
   <div class="file-box">
   <form action="upload_result" method="post" enctype="multipart/form-data">
    <input type="file" class="file" accept="application/vnd.ms-excel,
   application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
          multiple="multiple" name="file[]" id="fileField" style="width:60px" /><br/>
    <ul id='content'></ul>
    <input type="submit" name="submit" value="上传" class="span2">
   </form>
   </div>

    <h3>学员筛选</h3>
   <div class = "stu_filter">
    <div style="float:left">
        教官选择
        <select class = "select" id = "coach_select">
            <option id="0" selected>All</option>
             {% for r in coach_info %}
                <option id="{{ r[0] }}">{{ r[0] }} - {{ r[1] }}</option>
             {% endfor %}
        </select>
    </div>
    <div>
        学员选择
        <select class = "select" id = "student_select">
            <option id="0" selected>None</option>
            {%  for r in student_info %}
                <option id="{{ r[0] }}">{{ r[0] }} - {{ r[1] }} </option>
            {%  endfor %}
        </select>
    </div>
</div>

   <div><a href=http://127.0.0.1:5000>返回</a></div>
  </div>
 </body>
<script>
var test = document.getElementById('fileField');
test.addEventListener('change', function() {
    var t_files = this.files;
    console.log(t_files);
    var str = '';
    for (var i = 0, len = t_files.length; i < len; i++) {
        console.log(t_files[i]);
        str += '<li>' + t_files[i].name + '</li>';
    };
    document.getElementById('content').innerHTML = str;
}, false);
</script>
</html>