<!DOCTYPE html>
<html lang="en">
 <head>
  <link href="bootstrap/3.0.0/css/bootstrap.min.css"
     rel="stylesheet">
 </head>
 <body>
  <div class="container">
   <div class="header">
    <h3 class="text-muted">上传结果:</h3>
   </div>
   <hr/>
   <div>
   上传成功的文件:
   <ul>
    {% for file in file_succeed %}
     <li>{{file}}</li>
    {% endfor %}
   </ul>
   </div>
   <div>
   上传失败的文件:
   <ul>
    {% for filename in file_failed %}
     <li>{{filename}}</li>
          <ul>
          {% for err in error_failed[filename] %}
           <li>{{err}}</li>
          {% endfor %}
         </ul>
    {% endfor %}
   </ul>
   </div>
   <hr/>
   <div><a href=http://127.0.0.1:5000/upload_homepage>返回</a></div>
   </div>
 </body>
</html>