<!DOCTYPE html>
<html lang="en">
 <head>

    <script src="../static/js/jquery-3.1.0.js"></script>
    <script src="../static/js/showAndDelete.js"></script>
     <script src="../static/js/grid.locale-en.js" type="text/javascript"></script>
    <script src="../static/js/jquery.jqGrid.min.js" type="text/javascript"></script>
     <script src="../static/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <link href="../static/jquery-ui/jquery-ui.min.css" type="text/css" media="screen"
        rel="stylesheet">
     <link href="../static/css/ui.jqgrid.css" type="text/css" media="screen"
        rel="stylesheet">
 </head>
 <body>
  <div class="container">
   <div class="header">
    <h3 class="text-muted">请上传您的Excel文件:</h3>
   </div>

   <div class="file-box">
   <form action="upload_result" method="post" enctype="multipart/form-data">
    <input type="file" class="file" accept="application/vnd.ms-excel,
   application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
          multiple="multiple" name="file[]" id="fileField" style="width:60px" /><br/>
    <ul id='content'></ul>
    <input type="submit" name="submit" value="上传" class="span2">
   </form>
   </div>
 <hr/>
    <h3>学员情况表</h3>
   <div class = "stu_filter">
    <div style="float:left; margin-right: 20px">
        教官选择
        <select class = "select" id = "coach_select">
            <option id="0" selected>请选择</option>
             {% for r in coach_info %}
                <option id="{{ r[0] }}">{{ r[0] }} - {{ r[1] }}</option>
             {% endfor %}
        </select>
    </div>
    <div>学员选择
        <select class = "select" id = "student_select">
            <option id="-1" selected>请选择</option>
            {%  for r in student_info %}
                <option id="{{ r[0] }}">{{ r[0] }} - {{ r[1] }} </option>
            {%  endfor %}
        </select>
    </div>
       <input type="BUTTON" id="delete_" disabled='true' value="删除" style="margin-top: 10px; margin-bottom: 10px" />
       <input type="BUTTON" id="edit_" disabled='true' value="编辑" style="margin-top: 10px; margin-bottom: 10px"/>
       <input type="BUTTON" id="save_" disabled='true' value="保存至数据库" style="margin-top: 10px; margin-bottom: 10px"/>
</div>
      <div id="table_">
           <table id="info_table"></table>
      </div>

   <div style="margin-top: 10px"><a href=http://127.0.0.1:5000>返回</a></div>
  </div>
 </body>
<script>
var test = document.getElementById('fileField');
test.addEventListener('change', function() {
    var t_files = this.files;
    console.log(t_files);
    var str = '';
    for (var i = 0, len = t_files.length; i < len; i++) {
        console.log(t_files[i]);
        str += '<li>' + t_files[i].name + '</li>';
    };
    document.getElementById('content').innerHTML = str;
}, false);
</script>
</html>